*{
	margin: 0;
	padding: 0;
	font-family: sans-seriff;
}
.banner{
	height:100vh;
	background-image: url('assets/backdrop.png');
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.container{
	background-color:#f0f0f0;
}

.container img{
	position: absolute;
	top: 5px;
	left: 20px;
}
.container1{
	position: absolute;
	top: 500px;
	left: 500px;
	width: 1000px;
	height: 300px;
	background-color: none;
}
.text{
	position: absolute;
	top: 120px;
	left: 350px;
	font-size: 55px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial,sans-serif;
}

.container2 img{
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	left: 1500px
}	

.container6 img{
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	left: 1600px
}	

.container7 img{
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	left: 1700px
}	

.container8 img{
	position: absolute;
	width: 35px;
	height: 35px;
	top: 20px;
	left: 1800px
}	

.container3 img{
	position: absolute;
	width: 280px;
	height: 50px;
	top: 850px;
	left: 820px;
	border-radius: 10px;
}

.container4{
	position: absolute;
	top: 500px;
	left: 500px;
	width: 1000px;
	height: 300px;
	background-color: none;
}
.text1{
	position: absolute;
	top: 360px;
	left: 350px;
	font-size: 25px;
	color: #000000;
	font-weight: bold;
	font-family: Arial,sans-serif;
}

.container5 img{
	position: absolute;
	width: 800px;
	height: 100px;
	top: 700px;
	left: 600px
}	

.container9 img{
	position: absolute;
	width: 600px;
	height: 40px;
	top: 855px;
	left: 770px
}	

.container10 img{
	position: absolute;
	width: 1920px;
	height: 80px;
	top: 0px;
	left: 0px;
	opacity: 0.5;
}	

